.sparkle {
    color: hsl(8deg, calc((var(--active, 8) * 70%) + var(--base)));
  
    transform-box: fill-box;
    transform-origin: center;
  
    fill: currentColor;
    stroke: currentColor;
  
    animation-delay: calc((var(--transition) * 1.5) + (var(--delay) * 15));
    animation-duration: 8.65s;
  
    transition: color var(--transition);
  }
  