.logo {
    width: 120px;
    height: 120px;
    position: relative;
  }
  
  .background {
    width: 100%;
    height: 100%;
    background-color: #c13535;
    border-radius: 50%;
  }
  
  .camera {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 40%;
    background-color: #fff;
    border-radius: 50%;
  }
  
  .camera::after {
    content: "";
    position: absolute;
    top: 12.5%;
    left: 12.5%;
    width: 75%;
    height: 75%;
    background-color: #c13535;
    border-radius: 50%;
  }
  